#big-papa {
  display: flex;
  flex-flow: row wrap;
  background-color: none;
  width: 100%;
  height: 100%;
  
  
}
.container {
  background-color: burlywood ;
  height: 75px;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  font-style: bold;
  
  justify-content: space-around;
  
  
}

div {
  width: 75px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  
}



button {
  background:salmon;
  border-radius: 15px;
  border: solid;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-code-201n30/main/class-08/lab-b/assets/salmon.png");
  
  
}
/* copied from codefellows class github then edited it to my personal styling */
th, td, tr {
  margin-top: 5px;
  border: 12px solid burlywood;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
}

th, td {
  background-color: green;
  border-radius: 5px;
}

