#big-papa {
  display: flex;
  flex-flow: row wrap;
  background-color: none;
  width: 100%;
  height: 100%;
  justify-content: right;
}
.container {
  background-color: burlywood ;
  height: 75px;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row-reverse;
  
  
  justify-content: space-around;
  
  
}

div {
  width: 75px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
  
}

#hero {
padding-top: 25px;
width: 25%;

}


body {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-code-201n30/main/class-08/lab-b/assets/salmon.png");
  background-repeat: repeat-x;
}