#big-papa {
  display: flex;
  flex-flow: row wrap;
  background-color: none;
  width: 100%;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
  
  
}
.container {
  background-color: burlywood ;
  height: 75px;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: space-evenly;
  
  border: solid;
  
}

div {
  width: 60px;
  height: 30px;
  border-radius: 15px;
  
  padding-top: 35px;
  padding-bottom: 35px;
  border: solid;
  background-color: salmon;
  
  text-align: center;
  
  font-weight: inherit;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  
}

button {
  background:salmon;
  border-radius: 15px;
  border: solid;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button2 {
  background:salmon;
  border-radius: 15px;
  border: solid;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

#secondBackground {
  align-content: center;
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-code-201n30/main/class-08/lab-b/assets/family.jpg");
}

body {
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-code-201n30/main/class-08/lab-b/assets/salmon.png");
  
  
}
/* copied from codefellows class github then edited it to my personal styling */
th, td, tr {
  margin-top: 5px;
  border: 12px solid burlywood;
  padding: 10px;
  text-align: right;
  border-radius: 5px;
}

th, td {
  background-color: green;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
}


nav {
  background-color: salmon ;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  border-color: brown;
  border: solid;
}


#list {
  width: 200px;
  height: 500px;
  background-color: salmon;
  border-radius: 10px;
  float:right;
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-code-201n30/main/class-08/lab-b/assets/frosted-cookie.jpg");
  border:solid;
  
  
}


#list2 {
  width: 20%;
  height: 250px;
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-code-201n30/main/class-08/lab-b/assets/shirt.jpg");
  border-radius: 15px;
  float:left;
  border:solid
  
  
}

#hours {
  justify-content: center;
  
}

h1 {
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}


#nav2 {
  background-color: salmon ;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  border-color: brown;
  border: solid;
  
  background-image: url("https://raw.githubusercontent.com/codefellows/seattle-code-201n30/main/class-08/lab-b/assets/cutter.jpeg");
}


p {
  text-align: center;
}

ul,li {
  padding-left: 20px;
  background-color: aliceblue;
  border-radius: 10px;
  font-family: 'Source Code Pro', monospace;
}


#form {
  width:30%;
  padding-right: 45px;
  padding-left:45px;
  padding-bottom:15px;
  border:solid;
  background-color: green;
  text-align: center;
}

